PORT=8000

DATABASE_URL=postgresql://user:pass@host:port/db_name?sslmode=require

ISSUER=http://localhost:8000
KEY_ID=key-1
PRIVATE_KEY_PATH=./cert/private-key.pem
PUBLIC_KEY_PATH=./cert/public-key.pub
WEB_CLIENT_ID=oidc-web-client
WEB_CLIENT_REDIRECT_URIS=http://localhost:8000/callback.html
MOBILE_CLIENT_ID=oidc-mobile-client
MOBILE_CLIENT_REDIRECT_URIS=com.example.mobile://callback
ACCESS_TOKEN_TTL_SECONDS=3600
REFRESH_TOKEN_TTL_SECONDS=2592000
AUTHORIZATION_CODE_TTL_SECONDS=300
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
NODE_ENV=development
